@if (password) {
  <div class="password-strength">
    <div class="strength-bar">
      <div 
        class="bar-filled" 
        [style.width.%]="result.percentage"
        [style.background-color]="result.color"
      ></div>
    </div>

    <p class="strength-message" [style.color]="result.color">
      <strong>{{ result.message }}</strong>
    </p>

    @if (showRequirements && result.missingRequirements.length > 0) {
      <ul class="requirements-list">
        @for (req of result.missingRequirements; track $index) {
          <li>{{ req }}</li>
        }
      </ul>
    }
  </div>
}