:host {
  display: block;
}

.fundo-gradiente {
  background: linear-gradient(
    174.61deg,
    #aebf9f 4.16%,
    #bcc9ad 48%,
    #d3e0c5 96.76%
  );

  width: 100%;
  min-height: 100dvh; 
  overflow-x: clip;   
}

.app-container {
  width: 100%;
  max-width: 100%;

  margin: 0; 
  padding: 0;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  gap: 24px;

  overflow-x: hidden;
}

/* Mobile */
@media (max-width: 768px) {
  .main-container {
    padding-bottom: 90px;
  }
}