<div class="auth-login-box">
  <h2>Bem-vindo ao BMHE Analytics</h2>

  <form [formGroup]="form" (ngSubmit)="entrar()">
    <div class="auth-form-container">
      <app-campo-formulario
        formControlName="email"
        type="email"
        icon="mail"
        placeholder="E-mail"
        autocomplete="email"
        [error]="mensagemErro('email')"
      ></app-campo-formulario>

      <app-campo-formulario
        formControlName="password"
        type="password"
        icon="lock"
        placeholder="Senha"
        autocomplete="current-password"
        [error]="mensagemErro('password')"
      ></app-campo-formulario>
    </div>

    <app-botao-primario texto="Entrar" [disabled]="carregando"></app-botao-primario>
  </form>
</div>
