<div class="comentarios">
  <div class="comentario-titulo-linha">
    <div class="titulo">Comentários</div>
    <app-botao-favoritar
      [favorito]="favorito"
      (aoClicar)="favoritar.emit()"
    ></app-botao-favoritar>
  </div>

  <div class="comentario-item" *ngFor="let c of comentarios">
    {{ c }}
  </div>

  <div class="comentario-form">
    <input
      type="text"
      placeholder="Faça um comentário..."
      [(ngModel)]="novoComentario"
    />
    <button type="button" (click)="enviar()">Publicar</button>
  </div>
</div>
