.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #629359;
  color: black;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .rodape {
    flex-direction: column;
    gap: 6px;
    text-align: center;
  }
}
