.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 16px;
  background-color: #629359;
 
  color: black;
  font-size: 14px;
  font-weight: 600;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

  /* melhoria */
  width: 100%;
  gap: 10px;
}

@media (max-width: 768px) {
  .rodape {
    flex-direction: column;
    text-align: center;
    gap: 6px;
    padding: 14px 12px;
  }
}
