<div class="carousel-container">
  <button
    class="scroll-button left"
    (click)="scroll('left')"
    type="button"
    aria-label="Voltar"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="scroll-wrapper">
    <div #carousel class="item-list" tabindex="0">
      <ng-content></ng-content>
    </div>
  </div>

  <button
    class="scroll-button right"
    (click)="scroll('right')"
    type="button"
    aria-label="Avançar"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
