@if (menu; as m) {
  <div class="modal-backdrop">
    <div class="modal modal-recipe">
      <button class="close-btn" type="button" (click)="close.emit()" aria-label="Fechar">
        ×
      </button>

      <div class="cover-wrap">
        <img
          [src]="m.cover || 'assets/images/Logo.png'"
          [alt]="m.title"
          class="cover-large"
        />
      </div>

      <div class="content">
        <h3 class="title">
          <app-editable-field
            [value]="m.title"
            fieldType="text"
            [canEdit]="canEdit"
            placeholder="Título"
            (save)="onFieldSave('title', $event)"
          ></app-editable-field>
        </h3>
        <p class="description">
          <app-editable-field
            [value]="m.description"
            fieldType="textarea"
            [canEdit]="canEdit"
            placeholder="Descrição"
            (save)="onFieldSave('description', $event)"
          ></app-editable-field>
        </p>

        <div class="block">
          <h4>Receita</h4>
          <app-editable-field                                
            [value]="m.recipe"                               
            emptyText="Sem receita cadastrada."              
            fieldType="textarea"                             
            [canEdit]="canEdit"                              
            placeholder="Receita"                            
            (save)="onFieldSave('recipe', $event)"           
          ></app-editable-field>                             
        </div>

        <div class="block">
          <h4>Dicas da Nutri</h4>
          <app-editable-field                                
            [value]="m.nutritionistTips"                     
            emptyText="Sem dicas cadastradas."               
            fieldType="textarea"                             
            [canEdit]="canEdit"                              
            placeholder="Dicas da Nutri"                     
            (save)="onFieldSave('nutritionistTips', $event)" 
          ></app-editable-field>                             
        </div>

        <div class="block">
          <h4>Informações Nutricionais</h4>
          <div class="macros">
            <div>
              <app-editable-field
                [value]="m.protein || 0"                     
                fieldType="number"                           
                [canEdit]="canEdit"                          
                label="Proteínas"                            
                suffix="g"                                   
                (save)="onFieldSave('protein', $event)"      
              ></app-editable-field>                         
            </div>                                           
            <div>                                            
              <app-editable-field                            
                [value]="m.carbs || 0"                       
                fieldType="number"                           
                [canEdit]="canEdit"                          
                label="Carboidratos"                         
                suffix="g"                                   
                (save)="onFieldSave('carbs', $event)"        
              ></app-editable-field>                         
            </div>                                           
            <div>                                            
              <app-editable-field                            
                [value]="m.fat || 0"                         
                fieldType="number"                           
                [canEdit]="canEdit"                          
                label="Gorduras"                             
                suffix="g"                                   
                (save)="onFieldSave('fat', $event)"          
              ></app-editable-field>                         
            </div>                                           
            <div>                                            
              <app-editable-field                            
                [value]="m.fiber || 0"                       
                fieldType="number"                           
                [canEdit]="canEdit"                          
                label="Fibras"                               
                suffix="g"                                   
                (save)="onFieldSave('fiber', $event)"        
              ></app-editable-field>                         
            </div>                                           
            <div>                                            
              <app-editable-field                            
                [value]="m.calories || 0"                    
                fieldType="number"                           
                [canEdit]="canEdit"                          
                label="Calorias"                             
                suffix=" kcal"                               
                (save)="onFieldSave('calories', $event)"     
              ></app-editable-field>                         
            </div>                                           
          </div>
        </div>

        <app-comments-box
          [comments]="comments"
          [favorited]="!!m.favorited"
          [canDeleteComments]="canDeleteComments"
          (favoriteClick)="favorite.emit()"
          (commentSubmit)="comment.emit($event)"
          (commentDelete)="commentDelete.emit($event)"
        ></app-comments-box>
      </div>
    </div>
  </div>
}
