<div class="auth-login-box">
  <h2>Bem-vindo ao BMHE Analytics</h2>

  <form [formGroup]="form" (ngSubmit)="entrar()">
    <div class="auth-form-container">
      <!-- Email -->
      <div class="campo">
        <div
          class="auth-input-field"
          [class.erro]="mensagemErro('email')"
        >
          <span class="icone">✉️</span>
          <input
            id="email"
            type="email"
            placeholder="E-mail"
            formControlName="email"
          />
        </div>

        <p class="auth-error-text" *ngIf="mensagemErro('email')">
          {{ mensagemErro('email') }}
        </p>
      </div>

      <!-- Senha -->
      <div class="campo">
        <div
          class="auth-input-field"
          [class.erro]="mensagemErro('password')"
        >
          <span class="icone">🔒</span>
          <input
            id="password"
            type="password"
            placeholder="Senha"
            formControlName="password"
          />
        </div>

        <p class="auth-error-text" *ngIf="mensagemErro('password')">
          {{ mensagemErro('password') }}
        </p>
      </div>
    </div>

    <app-botao-primario texto="Entrar" [disabled]="carregando" />
  </form>

  <!-- ⚠️ esse footer é opcional pois tu também tem no AuthPage -->
  <div class="auth-footer">
    <span class="auth-toggle-text" [routerLink]="['/registrar']">
      Já tem uma conta? Criar conta.
    </span>
  </div>
</div>
