<header class="header-estilizado">
  <div class="header-conteudo">
    
   <div class="logo-titulo-container">
  <img class="logo" src="/assets/images/Logo.png" alt="Logo" />
  <span class="titulo-desktop">
    <app-titulo [alinhamento]="'left'">Vida Longa Flix</app-titulo>
  </span>
</div>

    <div class="acoes-direita">
      <app-campo-texto
        placeholder="Pesquisar..."
        (valueChange)="onPesquisar($event)"
      ></app-campo-texto>

      <app-notificacoes></app-notificacoes>
      <app-botao-sair></app-botao-sair>
      <app-menu-usuario></app-menu-usuario>


    </div>
  </div>
</header>
