.input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;

  border: 1px solid #ccc;
  border-radius: 5px;

  font-size: 16px;

  box-sizing: border-box;
  outline: none;
}

@media (max-width: 768px) {
  .input {
    padding: 14px;
    border-radius: 10px;
  }
}