<div class="campo-container">

  <div class="input-shell" [class.has-error]="!!error" [class.is-disabled]="disabled">
    <span class="left-icon">
      <app-auth-icon [name]="icon"></app-auth-icon>
    </span>

    <input
      class="input"
      [type]="inputType"
      [placeholder]="placeholderDinamico"
      [value]="value"
      [attr.maxlength]="maxlength"
      (input)="onInput($event)"
      (blur)="blur()"
      [disabled]="disabled"
      [attr.autocomplete]="autocomplete"
    />

    <button
      *ngIf="type === 'password'"
      type="button"
      class="right-action"
      (click)="toggleSenha()"
    >
      <app-auth-icon [name]="rightIcon"></app-auth-icon>
    </button>

      <span 
      *ngIf="showCounter && maxlength" 
      class="contador-caracteres"
      [ngClass]="contadorClasse"
    >
      {{ contadorTexto }}
    </span>
  </div>

  <p class="error" *ngIf="error">{{ error }}</p>
</div>