<div class="comments">
  <div class="comment-title-row">
    <div class="title">Comentários</div>

    <app-favorite-button
  [favorited]="favorited"
  (toggle)="favoriteClick.emit()"
></app-favorite-button>

  </div>

  @if (comments.length > 0) {
    @for (c of comments; track c) {
      <div class="comment-item">{{ c }}</div>
    }
  } @else {
    <div class="comment-item empty">Seja o primeiro a comentar.</div>
  }

  <div class="comment-form">
    <input
      type="text"
      placeholder="Faça um comentário..."
      [(ngModel)]="newComment"
      (keydown.enter)="submit()"
    />
    <button type="button" (click)="submit()">Publicar</button>
  </div>
</div>
