<div class="indicador-senha" *ngIf="senha">
  <div class="barra-forca">
    <div 
      class="barra-preenchida" 
      [style.width.%]="resultado.porcentagem"
      [style.background-color]="resultado.cor"
    ></div>
  </div>

  <p class="mensagem-forca" [style.color]="resultado.cor">
    <strong>{{ resultado.mensagem }}</strong>
  </p>

  <ul class="lista-requisitos" *ngIf="mostrarRequisitos && resultado.requisitosFaltando.length > 0">
    <li *ngFor="let req of resultado.requisitosFaltando">{{ req }}</li>
  </ul>
</div>