/* campo-texto.component.css */

/* Wrapper */
.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* Responsivo */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }
}

/* Container do input */
.container-estilizado {
  position: relative;
  flex: 1;
}

/* Responsivo */
@media (max-width: 768px) {
  .container-estilizado {
    width: 100%;
  }
}

/* Input */
.campo-texto-estilizado {
  height: 40px;
  padding: 0 40px 0 16px; /* espaço pra lupa */
  border-radius: 20px;
  border: 1px solid #147a03;
  background-color: #7ea76c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 16px;
  color: #000;
}

/* Placeholder */
.campo-texto-estilizado::placeholder {
  color: black;
}

/* Focus */
.campo-texto-estilizado:focus {
  border: 2px solid #7c3aed;
  outline: none;
}

/* Lupa */
.icone-lupa {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .icone-lupa {
    right: 16px;
  }
}

/* botão engrenagem */
.configuracao-container {
  background: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px;
}

/* Ícone engrenagem */
.icone-config {
  font-size: 24px; /* equivalente ao svg 24x24 do React */
  color: black;
  line-height: 1;
}

@media (max-width: 768px) {
  .configuracao-container {
    align-self: flex-end;
    padding-right: 12px;
  }
}