.fundo-gradiente {
  background: linear-gradient(
    174.61deg,
    #aebf9f 4.16%,
    #bcc9ad 48%,
    #d3e0c5 96.76%
  );

  width: 100%;
  min-height: 100vh;
}

.app-container {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .main-container {
    padding-bottom: 90px;
  }
}
