.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  text-align: center;
  padding: 20px;

  background: linear-gradient(
    174.61deg,
    #aebf9f 4.16%,
    #bcc9ad 48%,
    #d3e0c5 96.76%
  );
}

.mensagem-erro {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

.botao-voltar {
  margin-top: 20px;
  padding: 10px 20px;

  border: none;
  background-color: #6a0dad;
  color: white;
  border-radius: 8px;

  font-size: 16px;
  cursor: pointer;
}

.botao-voltar:hover {
  background-color: #8b5cd6;
}
